<footer class="page-front font-small bg-dark pt-4">



    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class=text-white>Siga-nos nas redes sociais</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/kendyhonda/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram text-white" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/kendyhonda" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square text-white" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/felipe-honda-a86100113/" target="_blanket"
                            class="icoLinkedin">
                            <i class="fa fa-linkedin-square text-white" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</footer>